<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>

        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1>Hello, <span th:text="${session.name}"></span>!</h1>
                        <table class="table table-hover">
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Category</th>
                                <th>Tags</th>
                                <th>Action</th>
                            </tr>
                            <tr th:each="todo : ${todos}">
                                <td th:text="${ todo.title }"></td>
                                <td th:text="${ todo.description }"></td>
                                <td th:text="${ todo.user.name}"></td>
                                <td th:text="${ todo.category.name}"></td>
                                <td>
                                    <th:block th:each="tag : ${todo.tags}">
                                        <span class="badge badge-info badge-sm" th:text="${tag.tag}"></span>
                                    </th:block>
                                </td>
                                <td>
                                    <div class="btn-group " role="group " aria-label="Basic example ">
                                        <a th:href="@{/todo/{id}/edit(id=${ todo.id })}"  class="btn btn-info text-white ">
                                            <i class='bx bx-pencil'></i>
                                        </a>
                                        <form onSubmit="return confirm('Do you really want to elete to-do?')" method="POST" action="#" th:action="@{/todo/{id}/delete(id=${ todo.id })}">
                                            <button type="submit" class="btn btn-danger text-white "><i class='bx bx-trash'></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>



        <div th:replace="includes/base  :: footer"></div>

        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>